.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
}

.logo > span {
  font-weight: bold;
  font-size: 1.5rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  flex: 1;
  justify-content: center;
  z-index: 99;
}

.menu > li:hover {
  cursor: pointer;
  color: var(--themeRed);
}

.rightSide {
  flex: 1;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.cart {
  position: relative;
  display: flex;
  z-index: 99;
  cursor: pointer;
}

.badge {
  position: absolute;
  display: flex;
  background-color: var(--themeRed);
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20px;
  height: 20px;
  right: -0.5rem;
  font-size: 0.8rem;
}

.menuMobile {
  display: none;
  gap: 0.8rem;
  padding: 1rem;
  padding-bottom: 4rem;
  position: absolute;
  width: 100%;
  left: 0;
  justify-content: center;
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem;
  box-shadow: var(--shadow);
  background-color: var(--pink);
  overflow: hidden;
  flex-wrap: wrap;
  transform: translateY(-20rem);
  -webkit-transform: translateY(-20rem);
  -moz-transform: translateY(-20rem);
  -ms-transform: translateY(-20rem);
  -o-transform: translateY(-20rem);
  align-items: center;
  flex-direction: column;
  z-index: 99999;
}

.menuMobile>div {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;

}

.showMenu {
  transform: translateY(5rem);
  -webkit-transform: translateY(5rem);
  -moz-transform: translateY(5rem);
  -ms-transform: translateY(5rem);
  -o-transform: translateY(5rem);
}

.menuMobile>* {
  padding: 2rem;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 579px) {
  .logo>span {
    display: none;
  }
  .menu {
    display: none;
  }

  .menuMobile {
    display: flex;
  }
}
